<?xml version="1.0"?>
<configuration>

  <configSections>

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ShipWorks.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <applicationSettings>
    <ShipWorks.Properties.Settings>
      <setting name="ShipWorks_Shipping_Carriers_FedEx_WebServices_Track_TrackService"
        serializeAs="String">
        <value>https://wsbeta.fedex.com:443/web-services/track</value>
      </setting>
      <setting name="ShipWorks_Shipping_Carriers_FedEx_WebServices_Close_CloseService"
        serializeAs="String">
        <value>https://wsbeta.fedex.com:443/web-services/close</value>
      </setting>
      <setting name="ShipWorks_Shipping_Carriers_FedEx_WebServices_OpenShip_OpenShipService"
        serializeAs="String">
        <value>https://wsbeta.fedex.com:443/web-services/openship</value>
      </setting>
    </ShipWorks.Properties.Settings>
  </applicationSettings>
</configuration>
