<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apitron.PDF.Rasterizer" version="3.0.66.0" targetFramework="net40" />
  <package id="InterapptiveAnalyzers" version="1.0.5714.23531" targetFramework="net4" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net4" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net4" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net4" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net4" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net4" />
  <package id="SonarLint" version="1.1.1" targetFramework="net4" developmentDependency="true" />
</packages>