*~
bin
obj
*.user
*.suo
*.bak
*.sln.cache
_ReSharper*
*/build
*/test-results
*.pidb
*.usertasks
*.userprefs
*.orig
_sgbak
*.vspscc
*.vssscc
*.tmp
~*
*.opensdf
*.sdf
*.vcxproj.user
/Artifacts
Code/ShipWorks.Native/x64
/Backup2
*.dbmdl
/_UpgradeReport_Files
/UpgradeLog.htm
/UpgradeLog.XML
/UpgradeLog2.htm
/UpgradeLog2.XML
/UpgradeLog3.htm
/UpgradeLog3.XML
/UpgradeLog4.htm
/UpgradeLog4.XML
