declare @count int
select @count = count(*) from sys.triggers where name not in
(
'ActionDeleteTrigger',
'ActionQueueStepDeleteTrigger',
'ActionQueueStepUpdateTrigger',
'CustomerAuditTrigger',
'CustomerLabelTrigger',
'EbayOrderAuditTrigger',
'EbayOrderItemRollupTrigger',
'EmailOutboundDeleteTrigger',
'EndiciaShipmentAuditTrigger',
'FedExPackageDeleteTrigger',
'FedExShipmentAuditTrigger',
'FilterDirtyAmazonOrder',
'FilterDirtyBuyDotComOrderItem',
'FilterDirtyChannelAdvisorOrder',
'FilterDirtyChannelAdvisorOrderItem',
'FilterDirtyCustomer',
'FilterDirtyDownloadDetail',
'FilterDirtyEbayOrder',
'FilterDirtyEbayOrderItem',
'FilterDirtyEmailOutbound',
'FilterDirtyEmailOutboundRelation',
'FilterDirtyEtsyOrder',
'FilterDirtyFedExShipment',
'FilterDirtyMarketplaceAdvisorOrder',
'FilterDirtyNeweggOrder',
'FilterDirtyNote',
'FilterDirtyOrder',
'FilterDirtyOrderCharge',
'FilterDirtyOrderItem',
'FilterDirtyOrderMotionOrder',
'FilterDirtyOrderPaymentDetail',
'FilterDirtyPayPalOrder',
'FilterDirtyPostalShipment',
'FilterDirtyPrintResult',
'FilterDirtyProStoresOrder',
'FilterDirtySearsOrder',
'FilterDirtyShipment',
'FilterDirtyShopifyOrder',
'FilterDirtyUpsShipment',
'FilterNodeColumnSettingsDeleted',
'FilterNodeLayoutDirty',
'FilterSequenceLayoutDirty',
'iParcelShipmentAuditTrigger',
'NoteAuditTrigger',
'NoteLabelTrigger',
'OrderAuditTrigger',
'OrderChargeAuditTrigger',
'OrderChargeLabelTrigger',
'OrderItemAttributeAuditTrigger',
'OrderItemAttributeLabelTrigger',
'OrderItemAuditTrigger',
'OrderItemLabelTrigger',
'OrderItemRollupTrigger',
'OrderLabelTrigger',
'OrderRollupTrigger',
'OrderShipmentShipSenseStatusTrigger',
'OrderShipSenseRecognitionStatusTrigger',
'OtherShipmentAuditTrigger',
'PostalShipmentAuditTrigger',
'PrintResultDeleteTrigger',
'ShipmentAuditTrigger',
'ShipmentDeleteTrigger',
'ShipmentLabelTrigger',
'ShipSenseKnowledgebaseUpdateTrigger',
'StoreLabelTrigger',
'TemplateDeleteTrigger',
'TemplateFolderLabelTrigger',
'TemplateLabelTrigger',
'TemplateUserSettingsTrigger',
'UpsPackageDeleteTrigger',
'UpsShipmentAuditTrigger',
'UspsShipmentAuditTrigger'
)

if @count > 0
begin
	RAISERROR('FAILED: audit trigger count is wrong', 10, 1, '')
end

