<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="microsoft.visualstudio.testtools" type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.QualityTools.UnitTestFramework, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
  </configSections>
  <connectionStrings>
    <add name="Connection_Ship_iParcel"
         connectionString="Dsn=Excel Files;Driver={Microsoft Excel Driver (*.xls)};dbq=|DataDirectory|\\DataSources\\iParcel.xlsx;defaultdir=.;driverid=790;maxbuffersize=2048;pagetimeout=5;readonly=true"
         providerName="System.Data.Odbc" />

    <add name="Connection_Ship_UPSRecert"
         connectionString="Dsn=Excel Files;Driver={Microsoft Excel Driver (*.xls)};dbq=|DataDirectory|\\DataSources\\UPSRecert.xlsx;defaultdir=.;driverid=790;maxbuffersize=2048;pagetimeout=5;readonly=true"
         providerName="System.Data.Odbc" />

    <add name="Connection_Ship_FedExAll"
         connectionString="Dsn=Excel Files;Driver={Microsoft Excel Driver (*.xls)};dbq=|DataDirectory|\\DataSources\\FedExAll.xlsx;defaultdir=.;driverid=790;maxbuffersize=2048;pagetimeout=5;readonly=true;"
         providerName="System.Data.Odbc" />

    <add name="Connection_Ship_Stamps"
         connectionString="Dsn=Excel Files;Driver={Microsoft Excel Driver (*.xls)};dbq=|DataDirectory|\\DataSources\\Stamps.xlsx;defaultdir=.;driverid=790;maxbuffersize=2048;pagetimeout=5;readonly=true;"
         providerName="System.Data.Odbc" />
  </connectionStrings>
  <microsoft.visualstudio.testtools>
    <dataSources>
      <add name="DataSource_Ship_iParcel" connectionString="Connection_Ship_iParcel" dataTableName="iParcel$" dataAccessMethod="Sequential"/>
      
      <add name="DataSource_Ship_UPSRecert" connectionString="Connection_Ship_UPSRecert" dataTableName="UPSRecert$" dataAccessMethod="Sequential"/>
      <add name="DataSource_Ship_UPSRecert_MI" connectionString="Connection_Ship_UPSRecert" dataTableName="UPSMI$" dataAccessMethod="Sequential"/>

      <add name="DataSource_Ship_Stamps" connectionString="Connection_Ship_Stamps" dataTableName="Stamps$" dataAccessMethod="Sequential"/>
      
      <add name="DataSource_Ship_FedExExpressDomestic" connectionString="Connection_Ship_FedExAll" dataTableName="US Exp Dom$" dataAccessMethod="Sequential"/>
      <add name="DataSource_Ship_FedExExpressDomesticAlcohol" connectionString="Connection_Ship_FedExAll" dataTableName="US Exp Dom-Alcohol$" dataAccessMethod="Sequential"/>
      <add name="DataSource_Ship_FedExExpressInternational" connectionString="Connection_Ship_FedExAll" dataTableName="US Exp Intl$" dataAccessMethod="Sequential"/>
      <add name="DataSource_Ship_FedExExpressInternationalAlcohol" connectionString="Connection_Ship_FedExAll" dataTableName="US Exp Intl-Alcohol$" dataAccessMethod="Sequential"/>
      <add name="DataSource_Ship_FedExUSGroundDomestic" connectionString="Connection_Ship_FedExAll" dataTableName="US Grn Dom$" dataAccessMethod="Sequential"/>
      <add name="DataSource_Ship_FedExGroundDomesticAlcohol" connectionString="Connection_Ship_FedExAll" dataTableName="Grn Alcohol$" dataAccessMethod="Sequential"/>
      <add name="DataSource_Ship_FedExCanadaGroundDomIntl" connectionString="Connection_Ship_FedExAll" dataTableName="CA Grn Dom, Intl$" dataAccessMethod="Sequential"/>
      <add name="DataSource_Ship_FedExCanadaExpressInternational" connectionString="Connection_Ship_FedExAll" dataTableName="CA Exp Intl$" dataAccessMethod="Sequential"/>
      <add name="DataSource_Ship_FedExCanadaExpressDomestic" connectionString="Connection_Ship_FedExAll" dataTableName="CA Exp Dom$" dataAccessMethod="Sequential"/>
      <add name="DataSource_Ship_FedExSmartPost" connectionString="Connection_Ship_FedExAll" dataTableName="IMpB Smartpost test cases$" dataAccessMethod="Sequential"/>
      <add name="DataSource_Ship_FedExOneRate" connectionString="Connection_Ship_FedExAll" dataTableName="OneRate$" dataAccessMethod="Sequential"/>
      <add name="DataSource_Ship_FedExETD" connectionString="Connection_Ship_FedExAll" dataTableName="ETD$" dataAccessMethod="Sequential"/>
    </dataSources>
  </microsoft.visualstudio.testtools>
  
  <appSettings>
    <!-- This is used to set the instance GUID when running tests via CI -->
    <add key="ShipWorksInstanceGuid" value=""/>
  </appSettings>
  
</configuration>