<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="InterapptiveAnalyzers" version="1.0.5711.26437" targetFramework="net451" />
  <package id="SonarLint" version="1.1.1" targetFramework="net451" developmentDependency="true" />
  <package id="xunit" version="2.0.0" targetFramework="net451" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net451" />
  <package id="xunit.assert" version="2.0.0" targetFramework="net451" />
  <package id="xunit.core" version="2.0.0" targetFramework="net451" />
  <package id="xunit.extensibility.core" version="2.0.0" targetFramework="net451" />
  <package id="xunit.runner.msbuild" version="2.0.0" targetFramework="net451" />
  <package id="xunit.runner.visualstudio" version="2.0.1" targetFramework="net4" />
</packages>