<%-- 
Name: Database Migration
Author: Eric Johnson
Description: For generating skeleton cursors to iterate over database tables
--%>

<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" Inherits="" Debug="False" CompilerVersion="v3.5" Description="Template description here." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Register Name="Execution" Template="DataMigrationExecution.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="Estimate" Template="DataMigrationEstimate.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Database" Description="Select the table to be looped over." %>
<%@ Property Name="SourceVariablePrefix" Type="System.String" Default="s" Optional="False" Category="" Description="string prefix for variables for this table's columns" OnChanged="" Editor="" EditorBase="" Serializer="" %>
<%@ Property Name="TargetTable" Type="SchemaExplorer.TableSchema" Optional="True" Category="Database" Description="Select the table to be inserted into." OnChanged="" Editor="" EditorBase="" Serializer="" %>
<%@ Property Name="TargetVariablePrefix" Type="System.String" Default="t" Optional="False" Category="" Description="string prefix for variables for this table's columns" OnChanged="" Editor="" EditorBase="" Serializer="" %>
<%@ Property Name="BatchSize" Type="System.Int32" Default="500" Optional="False" Category="" Description="" OnChanged="" Editor="" EditorBase="" Serializer="" %>

-- ShipWorks V2 to V3 Database Migration Script, generated by CodeSmith
-- For table <%= SourceTable.Name %>
<%
    string fileName = String.Format("MigrateData_{0}.estimate.sql", SourceTable.Name);
    Estimate estimate = this.Create<Estimate>();
    this.CopyPropertiesTo(estimate);
    estimate.RenderToFile(fileName, true);  
    
    fileName = String.Format("MigrateData_{0}.sql", SourceTable.Name);
    Execution exe = this.Create<Execution>();
    this.CopyPropertiesTo(exe);
    exe.RenderToFile(fileName, true);
%>