<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.3.0" targetFramework="net46" />
  <package id="Autofac.Extras.Moq" version="4.0.0" targetFramework="net46" />
  <package id="Autofac.Mef" version="4.0.0" targetFramework="net46" />
  <package id="Castle.Core" version="4.0.0" targetFramework="net46" />
  <package id="InterapptiveAnalyzers" version="1.0.5714.23531" targetFramework="net46" />
  <package id="log4net" version="2.0.7" targetFramework="net46" />
  <package id="Microsoft.Reactive.Testing" version="3.1.1" targetFramework="net46" />
  <package id="Moq" version="4.7.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="SD.LLBLGen.Pro.ORMSupportClasses" version="5.1.2" targetFramework="net46" />
  <package id="SonarAnalyzer.CSharp" version="1.22.0.1631" targetFramework="net46" developmentDependency="true" />
  <package id="System.Reactive" version="3.1.1" targetFramework="net46" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net46" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net46" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net46" />
  <package id="System.Reactive.PlatformServices" version="3.1.1" targetFramework="net46" />
  <package id="System.Reactive.Windows.Threading" version="3.1.1" targetFramework="net46" />
  <package id="System.Runtime.Analyzers" version="1.1.0" targetFramework="net46" />
  <package id="xunit" version="2.2.0" targetFramework="net46" />
  <package id="xunit.abstractions" version="2.0.1" targetFramework="net46" />
  <package id="xunit.assert" version="2.2.0" targetFramework="net46" />
  <package id="xunit.core" version="2.2.0" targetFramework="net46" />
  <package id="xunit.extensibility.core" version="2.2.0" targetFramework="net46" />
  <package id="xunit.extensibility.execution" version="2.2.0" targetFramework="net46" />
  <package id="xunit.runner.msbuild" version="2.2.0" targetFramework="net46" developmentDependency="true" />
  <package id="xunit.runner.visualstudio" version="2.2.0" targetFramework="net46" developmentDependency="true" />
</packages>