<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Compression.Base40" version="15.2.0.40" targetFramework="net40" />
  <package id="Syncfusion.XlsIO.Base40" version="15.2.0.40" targetFramework="net40" />
  <package id="Unofficial.Ionic.Zip" version="1.9.1.8" targetFramework="net40" />
</packages>